h5{
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: lighter;
    color: rgb(222, 242, 248) ;
    width: 100%;
    background: -webkit-linear-gradient(left, #008392, #008392 20%, white 20%, white);
    padding: 10px;
    margin: 0 0;

}

  /*typography*/
  html{
      font-family: arial;
      background: whitesmoke;
  }



  /* spacing */
.login_form{
    padding: 15px 30px 30px 30px; 
    border: solid #008392;
    border-radius: 5px;
    border-width: .5px;
    display: table;
    width: 30%;
    margin-top: 15%; 
    margin-left: auto;
    margin-right: auto;
    background: white;

}


.login_form .font{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;
    color: #687681;
}

.login_form input{
    border: solid #008392;
    border-radius: 5px;
    border-width: .5px;
    height:20px;
    display:table-row;
    width: 80%;
    margin-top: 2px ; 
    margin-right: 15px;
    column-span: 2; /*??*/ 
      
}

.login_form button{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;
    color: white;
    border: solid #008392;
    border-radius: 5px;
    background: #008392;
    padding: 3px 6px;
    cursor:pointer; 
    margin-top: 20px;
}

.login_form #username_error,
.login_form #password_error{
    margin-top: 5px;
    width: 79%;
    font-size: 12px;
    color: #c62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid #ef9a9a;
    display: none;
}

  /* tbody {
    padding: auto 55px auto 120px;
    table-layout: fixed;
    width: 490px;
    border: 1px solid darkcyan;
    border-radius: 3px;
    
  }

  tbody th{
      font-family: sans-serif;
      font-weight: lighter;
      color: gray;
  }

  tbody td{
      text-align: center;
      border-radius: 5px;
      border-width: 1px;
      border: darkcyan;
  }

  
  tfoot td{
      text-align: center;
      position: fixed;
      bottom: 10px;
      color: white;
      padding-right: 30px;
      padding-left: 30px;
      margin: 30px auto 30px auto;
      width: 17px;
      border: solid darkcyan;
      background: darkcyan;
      border-right: 120px;
      border-radius: 5px;
      border-width: 1px;

  } */
/* .loginbox{
    width: 420px;
    height: 200px;
    top: 50%;
    left: 50%;
    background:white); 
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: solid darkcyan;
    border-radius: 5px;
    border-width: 1px;
}

.loginbox p{
    margin: 20px center 20px center;
    padding: auto;
    font-family: sans-serif;
    font-weight: lighter;
    color: lightgray;

}

.loginbox input{
    width: 70%;
    padding: auto;
    margin-bottom: 20px;
    border: solid darkcyan;
    border-width: 1px;
    outline:1px;
    height: 20px;
    border-radius: 5px;
}

.loginbox input[type="submit"]{
    border: none;
    height: 25px;
    background: darkcyan;
    font-family: sans-serif;
    font-size: 10pt;
    color: white;
    border-radius: 5px;
    width: 12%;
    align-content: left;

} */



